@import url("https://fonts.googleapis.com/css?family=Raleway:400,400italic,700,800");

* {
	margin: 0;
	padding: 0;
}

html {
	background-image: url("altin.jpg");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	height: 100%;
}

body {
	height: 70%;
	padding: 2rem;
	color: white;
	font-family: "Raleway", "Helvetica", sans-serif;
	display:flex;
	align-items:center;
	justify-content: center;
}

div {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(100, 100, 100, 0.5);
	padding: 1rem;
	border-radius: 1rem;
}

h1, h2 {
	padding: 1rem 0;
	color: white;
	
	letter-spacing: 0.075em;
	line-height: 1em;
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-size: 2rem;
	font-weight: 800;
}

h2 {
	font-size: 1.3rem;
	font-weight: 500;
}

/* p {
	text-align: center;
} */

a {
	border-bottom: dotted 1px;
	color: #adffce;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent !important;
	color: #8cd1a8 !important;
	text-decoration: none;
}